<div class="tsa-footer">
    <div class="tsa-footer-container">
        <div class="top">
            <div class="logo">
                <img src="/images/footer/tsaFooterLogo.png" alt="联合信任">
                <div class="address">
                    <p>北京市朝阳区酒仙桥北路甲10号</p>
                    <p>电子城IT产业园<span>204号楼2层</span></p>
                </div>
            </div>
            <div class="content">
                <div class="nav-content-item">
                    <p class="title">快速入口</p>
                    <ul>
                        <li>
                            <a href="<%= process.env.VUE_APP_TSA %>" target="_blank">首页</a>
                        </li>
                        <li>
                            <a href="<%= process.env.VUE_APP_TSA %>/openService?type=0 " target="_blank">开放平台</a>
                        </li>
                        <li>
                            <a href="<%= process.env.VUE_APP_VERIFY %>" target="_blank">验证中心</a>
                        </li>
                        <li>
                            <a href="<%= process.env.VUE_APP_TSA %>/question" target="_blank">帮助中心</a>
                        </li>
                        <li>
                            <a href="<%= process.env.VUE_APP_USER %>/login" target="_blank">立即登录</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-content-item">
                    <p class="title">服务支持</p>
                    <ul>
                        <li>
                            <a href="<%= process.env.VUE_APP_TSA %>" target="_blank">热门问题</a>
                        </li>
                        <li>
                            <a href="<%= process.env.VUE_APP_TSA %>/guide" target="_blank">操作演示</a>
                        </li>
                        <li>
                            <a href="<%= process.env.VUE_APP_TSA %>/sample" target="_blank">可信时间戳证书样例</a>
                        </li>
                        <li>
                            <a href="<%= process.env.VUE_APP_TSA %>/downLoad'" target="_blank">相关下载</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-content-item">
                    <p class="title">相关声明</p>
                    <ul>
                        <li>
                            <a href="<%= process.env.VUE_APP_USERCENTER %>/agreement/registration" target="_blank">注册协议</a>
                        </li>
                        <li>
                            <a href="<%= process.env.VUE_APP_USERCENTER %>/agreement/privacy" target="_blank">隐私协议</a>
                        </li>
                        <li>
                            <a href="<%= process.env.VUE_APP_TSA %>/honor" target="_blank">荣誉资质</a>
                        </li>
                        <li>
                            <a href="<%= process.env.VUE_APP_TSA %>/tradeMark" target="_blank">注册商标</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="erweimas">
                <div class="erweima-container">
                    <div class="image">
                        <img src="/images/footer/footerTsa.jpg">
                        <div class="triangle"></div>
                    </div>
                    <div class="name">
                        <img src="/images/footer/1.png">
                        <p>权利卫士客户端</p>
                    </div>
                </div>
                <div class="erweima-container">
                    <div class="image">
                        <img src="/images/footer/footerWx.png">
                        <div class="triangle"></div>
                    </div>
                    <div class="name">
                        <img src="/images/footer/2.png">
                        <p>微信公众号</p>
                    </div>
                </div>
                <div class="erweima-container">
                    <div class="image">
                        <img src="https://evidence-public.oss-cn-beijing-internal.aliyuncs.com/customerImages/2.png">
                        <div class="triangle"></div>
                    </div>
                    <div class="name">
                        <img src="/images/footer/3.png">
                        <p>客服微信</p>
                    </div>
                </div>
                <div class="erweima-container">
                    <div class="image">
                        <img src="/images/footer/buy.png">
                        <div class="triangle"></div>
                        <p>“打开微信扫一扫购买”</p>
                    </div>
                    <div class="name">
                        <img src="/images/footer/4.png">
                        <p>付费课程</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="friendship">
                友情链接：
                <p>
                    <a href="http://www.ntsc.ac.cn/" target="_blank">国家授时中心</a>
                    <span> |</span>
                </p>
                <p>
                    <a href="http://www.beidou.gov.cn/" target="_blank">北斗卫星导航</a>
                    <span> |</span>
                </p>
                <p>
                    <a href="https://www.pkulaw.com/" target="_blank">北大法宝</a>
                    <span> |</span>
                </p>
                <p>
                    <a href="https://www.veer.com/" target="_blank">Veer</a>
                </p>
            </div>
            <div class="copyright-container">
                <div class="infor">
                    <p>版权所有：北京联合信任技术服务有限公司</p>
                    <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">京ICP备13046264号-2</a>
                    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502045493" target="_blank">京公网安备11010502045493号</a>
                    <p>Copyright 2005-2022 联合信任 版权所有</p>
                </div>
            </div>
        </div>
    </div>
</div>