<!DOCTYPE html>
<html>

<head>
  <title> <%= title %> </title>
  <link rel='stylesheet' href='/stylesheets/home.css' />
  <style>
    .test{
      text-align: center;
      padding: 30px 0;
    }
    b {
      font-size: 20px;
      font-weight: bold;
    }
  </style>
</head>

<body>
  <div class="test">
    <h1><%= title %></h1>
    <p>使用可信时间戳证据的裁判文书<b><%= precedentTotal %></b>件</p>
  </div>
  
  <div class="content">
    <div class="precedents">
      <div class="precedents_cnt">
        <div class="pre-left">
          <h3 class="title">时间戳典型判例</h3>
          <div class="tab">
            <div class="tab-name">
              <ul>
                <% courtRank.forEach((item)=> { %>
                  <!-- <% if(item.id==1001549){ %>
                    <li class="active">
                  <% } else { %>
                    <li class="">
                  <% } %> -->
                  <li <% if(item.id==1001549){ %> class="active" <% } %>>
                    <%= item.name %>
                    <div class="active-line"></div>
                  </li>
                <% }); %>
              </ul>
            </div>
            <div class="tab-cnt">
              <ul>
                <% conditionList.forEach((item)=> { %>
                  <li>
                    <a href="precedent/detail/<%= item.id %>" target="_blank">
                      <p class="introduce"><%= item.title %></p>
                      <p class="caseNo">案号：<%= item.precedentNo %></p>
                    </a>
                  </li>
                <% }); %>
              </ul>
            </div>
          </div>
        </div>
        <div class="pre-right">
          <h3 class="title">常见问题</h3>
          <div class="qusion">
            <!-- <h5>在线疑问解答</h5> -->
            <ul class="cnt">
              <% questionsList.forEach((item)=> { %>
                <li>
                  <p><%- item.question %></p>
                </li>
              <% }); %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>